<% if @templature < 37.0 && @health_check.respiratory_symptom.nil? && @health_check.throat_nasus_eyes_symptom.nil? && @health_check.digestive_symptom.nil? && @health_check.other.nil? %>
  <br />
  <div class="text-center">
    <div class="fukidashi">
      <link rel="stylesheet" href="fukidashi.css">
        記録が完了しました!<br>今日も一日、マスク、手洗い、消毒などの<br>感染対策をしっかりして過ごしましょう!
    </div>
  </div>
  <br />
  <br />
    <%= image_tag "mask.png", :alt => "桃" %>
  <br />
  <br />
  <br />
  <div class="text-center">
    <%= link_to '戻る', root_path %>
  </div>
  <br />
  <br />
<% elsif @templature < 37.0 && @health_check.respiratory_symptom.present? || @health_check.throat_nasus_eyes_symptom.present? || @health_check.digestive_symptom.present? || @health_check.other.present? %>
  <div class="text-center">
    <div class="fukidashi-yellow">
      <link rel="stylesheet" href="fukidashi.css">
        記録が完了しました!<br>少し心配な症状が見られますね…<br>体調の変化に注意し、改善が見られない場合、<br>かかりつけの病院やお住まいの地域の<br>指定の機関にお電話にてご相談を!
    </div>
  </div>
  <br />
    <%= image_tag "relax.png", :alt => "桃" %>
  <br />
  <br />
  <br />
  <div class="text-center">
    <%= link_to '戻る', root_path %>
  </div>
  <br />
<% elsif 37.0 <= @templature && @templature < 37.5 %>
  <div class="text-center">
    <div class="fukidashi-yellow">
      <link rel="stylesheet" href="fukidashi.css">
        記録が完了しました。<br>微熱があるようですね…<br>こまめに体温を測り、変動に注意してお過ごしください!<br>体温が下がらない場合は<br>かかりつけの病院やお住まいの地域の<br>指定の機関にお電話にてご相談を!
    </div>
  </div>
  <br />
    <%= image_tag "relax.png", :alt => "桃" %>
  <br />
  <br />
  <div class="text-center">
    <%= link_to '戻る', root_path %>
  </div>
  <br />
  <br />
<% elsif 37.5 <= @templature %>
  <div class="text-center">
    <div class="fukidashi-red">
      <link rel="stylesheet" href="fukidashi.css">
        記録が完了しました。<br>発熱しているようですね。<br>直接医療機関に足を運ぶのではなく、<br>まずはかかりつけの病院やお住まいの地域の指定の機関にお電話にてご相談を!
    </div>
  </div>
  <br />
  <br />
    <%= image_tag "phone.png", :alt => "桃" %>
  <br />
  <br />
  <div class="text-center">
    <%= link_to '指定の機関の連絡先を探す', 'https://www.mhlw.go.jp/stf/seisakunitsuite/bunya/kenkou_iryou/covid19-kikokusyasessyokusya.html' %>
    <br />
    <br />
    <%= link_to '戻る', root_path %>
  </div>
  <br />
<% end %>