
<h1><%= @health_check.created_at.to_s(:datetime_jp) %>の編集</h1>

 <%= form_with(model: @health_check, local:true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <br />    
    <div class="form-group">
      <%= f.label :templature, '【 体温 】' %>
      <%= f.number_field :templature, step: "0.1", value: @health_check.templature, class: 'form-control' %>
    </div>
    <br />
    <h6>以下、当てはまる症状があればチェックをいれてください。</h6>
    <br />
      
        <div class="form-group">
          <%= f.label :respiratory_symptom, '【 呼吸器症状 】' %>
          <% @respiratory_symptoms.each do |respiratory_symptom| %>
          <% if @health_check.respiratory_symptom.nil? %>
            <%= f.check_box :respiratory_symptom, { checked: false, multiple: true, include_hidden: false }, respiratory_symptom %>
          <% elsif @health_check.respiratory_symptom.include?(respiratory_symptom) %>
            <%= f.check_box :respiratory_symptom, { checked: true, multiple: true, include_hidden: false }, respiratory_symptom %>
          <% end %>
            <%= respiratory_symptom %>
          <% end %>
        </div>
      
        <div class="form-group">
          <%= f.label :throat_nasus_eyes_symptom, '【のど、鼻、目の症状】' %>
          <% @throat_nasus_eyes_symptoms.each do |throat_nasus_eyes_symptom| %>
          <% if @health_check.throat_nasus_eyes_symptom.nil? %>
            <%= f.check_box :throat_nasus_eyes_symptom, { checked: false, multiple: true, include_hidden: false }, throat_nasus_eyes_symptom %>
          <% elsif @health_check.throat_nasus_eyes_symptom.include?(throat_nasus_eyes_symptom) %>
            <%= f.check_box :throat_nasus_eyes_symptom, { checked: true, multiple: true, include_hidden: false }, throat_nasus_eyes_symptom %>
          <% end %>
            <%= throat_nasus_eyes_symptom %>
          <% end %>
        </div>
      
        <div class="form-group">
          <%= f.label :digestive_symptom, '【 消化器症状 】' %>
          <% @digestive_symptoms.each do |digestive_symptom| %>
          <% if @health_check.digestive_symptom.nil? %>
            <%= f.check_box :digestive_symptom, { checked: false, multiple: true, include_hidden: false }, digestive_symptom %>
          <% elsif @health_check.digestive_symptom.include?(digestive_symptom) %>
            <%= f.check_box :digestive_symptom, { checked: true, multiple: true, include_hidden: false }, digestive_symptom %>  
          <% end %>
            <%= digestive_symptom %>
          <% end %>
        </div>
      
        <div class="form-group">
          <%= f.label :other, '【 その他 】' %>
          <% @others.each do |other| %>
          <% if @health_check.other.nil? %>
            <%= f.check_box :other, { checked: false, multiple: true, include_hidden: false }, other %>
          <% elsif @health_check.other.include?(other) %>
            <%= f.check_box :other, { checked: true, multiple: true, include_hidden: false }, other %>
          <% end %>  
            <%= other %>
          <% end %>
        </div>
        <br />
        <div class="form-group">
          <%= f.label :memo, '上記以外に気になる症状があったら記入してください。' %>
          <%= f.text_area :memo, value: @health_check.memo,class: 'form-control' %>
        </div>
          
        <%= f.submit '完了', class: 'btn btn-success btn-block' %>
    <% end %>