<ul>
  <% @health_checks.each do |health_check| %>
    <div class="card">
    <% if health_check.templature < 37.0 %>
      <div class="green">
    <% elsif health_check.templature >= 37.0 && health_check.templature < 37.5 %>
      <div class="yellow">
    <% elsif health_check.templature >= 37.5 %>
      <div class="red">
    <% end %>
      <div class="card-header">
        <%= health_check.created_at.to_s(:datetime_jp) %>
      </div>
      <div class="card-body">
        <link rel="stylesheet" href="health_check.css">
        <p>体温：<%= health_check.templature %></p><br />
        <p>呼吸器症状：<%= health_check.respiratory_symptom %></p><br />
        <p>喉、鼻、目の症状：<%= health_check.throat_nasus_eyes_symptom %></p><br />
        <p>消化器症状：<%= health_check.digestive_symptom %></p><br />
        <p>その他：<%= health_check.other %></p><br />
        <p>メモ：<%= simple_format(h(health_check.memo)) %></p><br />
        <a href="#"><%= link_to '編集', edit_health_check_path(health_check.id) %></a>
      </div>
    </div>
  <% end %>
  <%= paginate @health_checks %>
</ul>