<h1>新型コロナウイルス感染予防８か条</h1>
<br />
<h4>1.マスクを正しく着用しよう！</h4>
<br />
<h6>感染予防に大きな効果があるマスクですが、つけるマスクの種類や間違ったつけ方をすることで、効果が半減してしまうことも…</h6>
<br />
<h6>いま、様々な種類のマスクが販売されていますが、マスクの素材によってウイルスの侵入や拡散を防ぐ能力に差があります。</h6>
<br />
<div class="text-center">
  <%= image_tag "マスク比較表.jpg", :alt => "マスク比較" %>
</div>
<br /><br />
<h6>街ではこのようなウレタンマスクと呼ばれるマスクをしている人を多く見かけますが、感染予防に効果があるとは言い切れません。</h6>
<div class="text-center">
  <%= image_tag "ウレタンマスク.jpg", :alt => "ウレタンマスク" %>
</div>
<h6>最近の不織布マスクはこのようにカラフルでおしゃれなものや、着け心地が良いものなどが開発されているので、可能な限り不織布のものを利用しましょう。</h6>
<div class="text-center">
  <%= image_tag "不織布マスク.jpg", :alt => "不織布マスク" %>
  <%= image_tag "kf94マスク.jpg", :alt => "kf94マスク" %>
</div>
<br /><br />
<h6>また、マスクは正しく着用することで効果が得られるものなので、正しい着け方をマスターしましょう！</h6>
<div class="text-center">
  <%= image_tag "ただしいマスクのつけ方", :alt => "ただしいマスクのつけ方" %>
</div>
<br />
<h4>2.外に持って行ったかばんや着ていった服は家に持ち込まない！</h4>
<br />
<h6>外に持って行ったものや着ていった服にはウイルスが付着してしまっている可能性があります…それを通して感染することのないようにできるだけ外出時に持って行ったものは玄関に置き、帰ったらすぐに着替え、着ていた服は速やかに洗濯しましょう!頻繫に洗濯することが難しい上着などは玄関にハンガーラックを置き、除菌スプレーを吹きかけ、なるべく触らないようにしましょう。</h6>
<div class="text-center">
  <%= image_tag "ハンガーラック.jpg", :alt => "ハンガーラック" %><br>
</div>
<br />
<h6>また、マスクも家に帰ったら手を洗う前に外しましょう。その際、マスクは正しい外し方で外し、きちんと捨てましょう。マスクを捨てるゴミ箱は玄関に置いておくと便利です。</h6>
<div class="text-center">
  <%= image_tag "mask外し方.png", :alt => "マスクの外し方" %><br /><br />
</div>
<br />
<h4>3.しっかり手を洗おう！</h4>
<br />
<h6>とても簡単なことですが、せっけんを使って正しく手を洗うことで付着したウイルスを減らし、感染を防ぐことができます。</h6>
<div class="text-center">
  <%= image_tag "手洗い.jpg", :alt => "正しい手洗い" %><br /><br />
</div>
<br />
<h4>4.こまめにアルコール消毒をしよう！</h4>
<br />
<h6>手指はもちろん、スマホやパソコンなどの外で触ったものや、レストランやカフェのテーブルなどはアルコールを含んだウエットティッシュで一度除菌すると安心です。特に手指消毒は食前や、電車や共用の場を利用した際には必ず行い、手が洗えない状況にいる場合はこまめにするようにしましょう。アルコール消毒剤を購入する時、気を付けたいのがアルコール濃度です。入手可能ならば、アルコール70％以上のものを購入しましょう！60％台のものでも一定の効果はあるそうですが、70％以上のものが推奨されています。</h6>
<div class="text-center">
  <%= image_tag "アルコール.jpg", :alt => "アルコール" %> <br /><br />
</div>
<br />
<h4>5.ひとと距離を取ろう！</h4>
<br />
<h6>ひととの物理的な距離が近いことで、感染の可能性がグンと上がってしまいます…感染の原因となる飛沫はくしゃみによっておよそ2m飛ぶと言われています。よって、ひとと話すときは向かい合わないようにし、2m以上距離をあけましょう！距離がとれないような混雑した場所はなるべく避け、通勤通学の際の満員電車などではより一層注意を払いましょう。</h6>
<div class="text-center">
  <%= image_tag "ソーシャルディスタンス.jpg", :alt => "ソーシャルディスタンス" %><br /><br />
</div>
<br />
<h4>6.定期的に換気をしよう！</h4>
<br />
<h6>意外と忘れられがちな換気ですが、家庭内感染、職場感染、学校感染症などの集団感染を防ぐカギとなります。各部屋の対角線上にある窓を1時間に2回、数分程度全開にするのがベストです。また、人が密集していたり、風通しが悪く、空気の循環がなかったりする場所は、感染のリスクが高いので避けることも対策のひとつです。</h6>
<div class="text-center">
  <%= image_tag "換気.jpg", :alt => "換気" %><br /><br />
</div>
<br />
<h4>7.食事は少人数、短時間で済ませよう！</h4>
<br />
<h6>食事中はマスクをすることができない無防備な状態にあり感染するリスクがとても高い時間です。同居している家族以外との食事はできるだけ避け、少人数かつ短時間で済ませ、会話はマスク着用の上でするようにしましょう！</h6>
<div class="text-center">
  <%= image_tag "黙食.jpg", :alt => "会食" %>
</div>
<br />
<br />
<h4>8.おうちにいよう！</h4>
<br />
<h6>新型コロナウイルス感染症に罹らないためにいちばん必要なことは、ひととの接触をなくすことです。家を出るその前に、その外出がいま、必要なものであるかを考え、自分と大切な人を守る行動を取りましょう。</h6>
<div class="text-center">
  <%= image_tag "ステイホーム.jpg", :alt => "ステイホーム" %><br /><br />
</div>
<br />
<h4>【 コラム 】わたしのポーチの中身♡</h4>
<br />
<div class="text-center">
  <%= image_tag "ポーチの中身.jpg", :alt => "ポーチの中身" %>
</div>
<br />
<h6>①マスク　紐が取れてしまったり、汗で湿ってしまったりしたときのためにひとパック入れておくと安心です。</h6>
<h6>②アルコールウエットティッシュ　スマホやPC、テーブルなどを拭くだけでなく、何かをこぼしてしまったときなど様々な場面で重宝します!</h6>
<h6>③手指消毒用ジェル　最近では学校やお店などに手指消毒用品が設置されていますが、電車やご飯を食べる直前に消毒するためにマイアルコールを持ち歩いています!</h6>
<h6>④マイハンドソープ　出先の手洗い場にはせっけんも置いてありますが、ひとと接触する機会を減らすために持ち歩いています。手を保湿してくれるものや、とてもいい匂いがするものなどたくさんの種類があるので、お気に入りのハンドソープを見つけて持ち歩いてみては？</h6>
<h6>⑤ペーパータオル　一度手を拭いたら捨てる使い捨てなので、とても衛生的です。わたしはハンカチよりも、断然ペーパータオル派です。最近は、簡単にお安く入手できるようになっているのでおすすめです!</h6>
<h6>他にも、出先にゴミ箱があまりないと分かっているときは、密封できるチャック付の袋を一枚入れたり、暑い日はマスクに振りかける冷感スプレーを持ったりと日によって快適かつ衛生的に過ごせる工夫をしています!<h6>
<br />
<br />
<h4>＜参考にしたサイト＞</h4>
  ・厚生労働省公式サイト<br>　　<%= link_to 'https://www.mhlw.go.jp/stf/seisakunitsuite/bunya/kenkou_iryou/dengue_fever_qa_00001.html','https://www.mhlw.go.jp/stf/seisakunitsuite/bunya/kenkou_iryou/dengue_fever_qa_00001.html' %><br /><br />