<div class='text-center'>
  <div class="col-12">
    <div class="box">
      <%= search_form_for @q do |f| %>
        <div class='form-group row'>
          <label class="col-3 col-form-label">キーワード検索</label>
          <div class="col-6">
            <%= f.search_field :log_cont, class: "form-control" %>
          </div>
        </div>
        <div class='form-group row'>
          <label class="col-3 col-form-label">日付検索</label>
          <div class="col-3">
            <%= f.date_field :created_at_gteq, class: "form-control" %>
          </div>
          ～
          <div class="col-3">
            <%= f.date_field :created_at_lteq, class: "form-control" %>
          </div>
        </div>
        <%= f.submit "検索" %>
      <% end %>
    </div>
  </div>
</div>
<% if @activity_logs.present? %>
  <% @activity_logs.each do |activity_log| %>
    <div class="card">
      <div class="card-header">
        <%= activity_log.created_at.to_s(:datetime_jp) %>
      </div>
      <div class="card-body">
        <%= simple_format(activity_log.log) %><br />
        <%= link_to '編集', edit_activity_log_path(activity_log.id) %>
      </div>
    </div>
  <% end %>
<% elsif @q.created_at_gteq.present? && @q.created_at_lteq.present? && @q.created_at_gteq > @q.created_at_lteq %>
  <div class='text-center'>
    <p>日付を正しく入力してください。</p>
  </div>
<% else %>
  <div class='text-center'>
    <p>行動記録がありませんでした。</p>
  </div>
<% end %>
<%= paginate @activity_logs %>