<div class="row">
  <div class="col-sm-6 offset-sm-3">
  
    <%= form_with(model: @user, local:true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :name, 'お名前' %>
        <%= f.text_field :name, placeholder: '健康　桃太郎', class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :email, 'メールアドレス' %>
        <%= f.email_field :email, placeholder: 'momo@email.com', class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, placeholder: 'momo123', class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :password_confiramation, 'パスワード(確認用)' %>
        <%= f.password_field :password_confiramation, placeholder: 'momo123', class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :birthday,  '生年月日(例:1993年8月4日→1993/08/04)' %>
        <%= f.date_field :birthday, class:  'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :belong, '学校や会社などの所属団体' %>
        <%= f.text_field :belong, placeholder: '株式会社白桃社', class: 'form-control' %>
      </div>
      
      <div class="from-group">
        <%= f.label :underlying_diseases, '基礎疾患など健康状態' %>
        <%= f.text_area :underlying_diseases, placeholder:'基礎疾患や、現在治療中の病気、アレルギー、服用している薬などがあったら入力してください。', class: 'form-control' %>
      </div>
      <br />
      <%= f.submit '登録', class: 'btn btn-success btn-block' %>
    <% end %>
  </div>
</div>