<h1>ユーザー情報</h1>
<br />
[お名前]<br /><%= @user.name %>
<br />
<br />
[メールアドレス]<br /><%= @user.email %>
<br />
<br />
[所属団体]<br /><%= @user.belong %>
<br />
<br />
[基礎疾患などの健康状態]<%= simple_format(@user.underlying_diseases) %>
<br />
<br />
<div class="text-center">
    変更は<%= link_to'こちら', edit_user_path(id: @user) %>から
</div>