<% if logged_in? %>
  <br />
<div class="text-center">
  <div class='fukidashi'>
    <link rel="stylesheet" href="fukidashi.css">
    こんにちは、<%= current_user.name %> さん。<br />
    今日も感染対策を徹底してお過ごしください!<br />
    「マスク、手洗い、消毒、ソーシャルディスタンス」<br />を忘れずに行動しましょう!
  </div>
</div>

<br />
<%= image_tag "simple.png", :alt => "桃" %><br />

<br />
<br />
<br />
<div class="text-center">
  ヘルスチェック
  <%= link_to '< 登録 >', new_health_check_url %>
  <%= link_to '< 一覧・編集 >', health_checks_url %><br /><br />
  行動記録
  <%= link_to '< 登録 >', new_activity_log_url %>
  <%= link_to '< 一覧・編集 >', activity_logs_url %><br /><br />
  ユーザー情報
  <%= link_to '< 確認・編集 >', user_path(current_user) %>
  <br />
  <br />
</div>
<p>47都道府県別累計感染者数</p>

<%= bar_chart @zennkokudata, height: "1000px", color: ["#008000"] %>
<br />
<br />
<div class="text-center">
  ログアウトは<%= link_to 'こちら', logout_path, method: :delete %>から
</div>
<br />

<% else %>
  <br />
  <br />
  <br />
  <div class="text-center">
    <%= image_tag "checkii_rounded.png", :alt => "ロゴ" %>
  </div>
  <br />
  <br />
  <br />
  <div class="text-center">
    <h5>ログインは　<%= link_to 'こちら', login_path %></h5>
    <h5>新規登録は　<%= link_to 'こちら', signup_path %></h5>
  </div>
  <br />
  <br />
<% end %>