<!DOCTYPE html>
<html  lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Checkii</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    
    <div class="container">
      <%= render 'layouts/flash_messages' %>
      
      <%= yield %>
    </div>
  </body>
 
 <footer id="footer" class="outer-block footer">
   <link rel="stylesheet" href="footer.css">
    <div class="inner-block">
      <div class="cont">
        <div class="cont-item">
          <div class="nav">
            <div class="ttl"><span>ヘルスチェック</span></div>
            <ul>
              <li><%= link_to '新規登録', new_health_check_url %></li>
              <li><%= link_to '一覧・編集', health_checks_url(current_user) %></li>
            </ul>
          </div>
        </div>
        <div class="cont-item">
          <div class="nav">
            <div class="ttl"><span>行動記録</span></div>
            <ul>
              <li><%= link_to '新規登録', new_activity_log_url %></li>
              <li><%= link_to '一覧・編集', activity_logs_url(current_user) %></li>
            </ul>
          </div>
        </div>
        <div class="cont-item">
          <div class="nav">
            <div class="ttl"><span>新型コロナウイルス感染症について</span></div>
            <ul>
              <li><a href="https://www.mhlw.go.jp/stf/seisakunitsuite/bunya/0000164708_00001.html">厚生労働省特設サイト</a></li>
              <li><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/question-and-answers-hub/q-a-detail/coronavirus-disease-covid-19">WHO特設サイト</a></li>
              <li><a href="https://corona.go.jp/dashboard/">各種データ</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>